{% extends 'layout.html' %}

{% block tilte %}
    Create Campaign
    
{% endblock %}

{% block content %}
<div class ="header">
  <h1 class="display-1">
   
      Create Campaign</h1>
</div>

<div class="form_container">
<form action="" class="form" method="post">
    <div class="form-content">
      <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description:</label>
        <input type="text" name="description" id="description" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="niche" class="form-label">Niche:</label>
        <input type="text" name="niche" id="niche" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="start_date" class="form-label">Start Date:</label>
        <input type="date" name="start_date" id="start_date" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="end_date" class="form-label">End Date:</label>
        <input type="date" name="end_date" id="end_date" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="budget" class="form-label">Budget:</label>
        <input type="number" name="budget" id="budget" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="visibility" class="form-label">Status:</label>
        <select name="visibility" id="visibility" required>
          <option value="Public">Public</option>
          <option value="Private">Private</option>        
      </select>
      </div>
      <div class="form-group">
        <label for="goals" class="form-label">Goals:</label>
        <input type="text" name="goals" id="goals" class="form-control" required>
      </div>
      <div class="buttons d-flex justify-content-center align-items-center">
        <div class="form-group m-3">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus" ></i>
            Add Campaign
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block style %}
    <style>
      .header {
        display: flex; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 1rem; 
        border-bottom:  3px solid #b54242; 
    }
    .display-1{
      font-size: 45px;
  }
      .form_container {
        display: flex;
        justify-content: center;
        align-items: center;
      
      }
        
      .form-content {
            display: flex;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            flex-direction: column;
            gap: 1rem;  
            margin: 20;
               
          }

          
      .form-label {
            font-weight: normal;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size:2cap;
            margin-bottom: 10px; 
            margin-top: 20px;
            
            
          }
          
      .form-control {
            
            padding: 15px;
            width: 700px;
            border: 2px solid #067238;
            border-radius: 5px;
            
          }
          
      .btn {
            margin-top: 2rem;
            padding: 15px;
            width: 200px;
          }
          
          
        
          
    </style>
{% endblock %}

