{% extends 'layout.html' %}

{% block tilte %}
    Campaign Request
{% endblock %}

{% block content %}
<div class="campaign_header">
<h1 class="display-1">
    Campaign Request</h1>
</div>
<table class="table table-striped campaign-table">
    <thead>
        <tr>
            
            <th >Campaign Name</th>
            <th >Influencer Name</th>
            <th >Requirements</th>
            <th >Message</th>
            <th >Payment</th>
            <th >Status</th>
            <th >Actions</th>
            <th >Transaction</th>
        </tr>
    </thead>
    <tbody>
        {% for request in request %}
        <tr>
            <td>{{ request.campaign.name }}</td>
            <td >{{ request.influencer.name}}</td>
            <td >{{ request.requirements }}</td>  
            <td >{{ request.messages }}</td>
            <td >{{ request.payment_amount }}</td>
            <td >{{ request.status }}</td>  
            <td >
                {% if request.status == "Pending" %}
                    {% if request.is_private == False %}
                            <a href="{{ url_for('accept_request', campaign_id=campaign.id, request_id=request.id) }}" class="btn btn-success">
                                <i class="fas fa-check"></i>
                                Accept
                            </a>
                            <a href="{{ url_for('decline_request', campaign_id=campaign.id, request_id=request.id) }}" class="btn btn-danger">
                                <i class="fas fa-times"></i>
                                Decline
                            </a>
                    {% elif request.status == 'Accepted' %}
                            <span class="btn btn-success">{{ request.status }}</span>
                    {% else %}
                            <span class="btn btn-danger">{{ request.status }}</span>
                    {% endif %}
                {% else %}
                
                {% endif %}  
                <a href="{{ url_for('view_influencer_profile', influencer_id=request.influencer_id) }}" class="btn btn-info">
                    <i class="fa-solid fa-address-card"></i>
                    View
                </a>
            </td>
            <td>
                {% if request.completed %}
                    <a href="{{ url_for('payment_requests', campaign_id=campaign.id) }}" class="btn btn-info">
                        <i class="fa-solid fa-address-card"></i>
                        Payment
                    </a>
                {% elif request.status == 'Declined'%}
                    <span></span>
                {% else %}
                    <span >Work Not Completed</span>

                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


    
{% endblock %}


{% block style %}    
    <style>
        .campaign_header {
            display: flex;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            justify-content: space-between; 
            align-items: center; 
            padding: 1rem;
            
            
        }

        .display-1{
            font-size: 45px;
        }
        
        .campaign-table {
            margin-top: 0;
            margin-left: -1;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 24px;
            
            justify-content: space-between; 
            align-items: center; 
            border-top:  3px solid #b54242;
            border-bottom:  3px solid #b54242;
            
        }
        
        .badge {
            padding: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
            font-size: 28px;
        }

        .container{
            align-items: center;
            justify-content: space-between;
        }
    </style>
{% endblock %}