{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="heading">
    <h1 class="display-1">
        <span class="text-muted">  
            {{users.username}} 
         </span>
            
    </h1>
    <div class="profile-pic">
        <img src="https://api.dicebear.com/9.x/initials/svg?seed={{users.username}}"  width=94 alt="">
    </div>

</div>

<div class="company">
    <h1 class="display-4">Company Details</h1>
    <div class ="details">
        <table>
            <tbody>
                <tr >
                    <th>Company Name:</th>
                    <td >{{ sponsor.company_name}}</td>
                </tr>
                <tr>
                    <th>Industry:</th>
                    <td>{{ sponsor.industry}}</td>
                </tr>
                <tr>
                    <th>Budget:</th>
                    <td>{{ sponsor.budget}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

  


{% endblock %}

{% block style %}
<style>
    
    .heading {
        display: flex;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        justify-content: space-between;
        align-items: center;
        padding: 5px; 
        border-bottom: 3px solid #b54242;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        border: 3px solid black;
        border-radius: 40%;
        overflow: hidden;
    }

    .text-muted {
        font-size: 70px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }

    .company {
        width: 600px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:3cap;
        padding: 10px; 
        text-align: center;
        box-shadow: 0px 5px 10px rgb(0, 0, 0) ;
        border-radius: 10px;
        background-color: #b54242;  
        margin-top: 3rem;
        margin-left: 22rem;
        
    }
    .display-4{
        color: rgb(16, 15, 15);


    }
    .details {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px; 
        margin-left: 4rem;
        
       
      
    }
        
    
    th, td {
        padding: 10px;
        text-align: center;
        color: rgb(16, 15, 15);

    }
    
    
    
</style>
{% endblock %}
